<div class="card-image">
  <a href="{{podcastLink}}" target="_blank">
    {{#if (eq podcast.kind 'podbean')}}
      <img src="{{podcast.imageUrl}}"/>
    {{else}}
      <div class='video static-podcast responsive-img' style={{youtube-thumb podcast.mediaId}}></div>
    {{/if}}

    <span class="card-title force-wrap {{if (eq podcast.kind 'podbean') 'black-text white-text-background'}}">{{podcast.title}}</span>
  </a>
</div>

<div class="card-content">
  {{#read-more maxHeight="3.1em"}}
    {{{podcast.body}}}
    <a href="#" target="_blank">
      Go to podcast
    </a>
  {{/read-more}}
</div>
